<div>
  <p>VirtuCoach is an easy to use collaborative training calendar for athletes.</p>
</div>

<div id="race_photo">
  <%= image_tag("race.jpg") %>
</div>

<div id ="new_user_form">
  <h2>Create an Account</h2>
  <%= render "users/homeform" %>
</div>