/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require_tree . 
*/

@import 'styles';
@import 'workouts';
@import 'comments';

/* GLOBAL */

html {
	background: #f8f8f8;
}
.action {
	padding: 5px 0 0 0;
}

body {

}

.clear {
	clear: both;
}

#container {
  font-family: Helvetica;
  margin: 0px auto 10px auto;
  width: 960px;
  background-color: white;
  padding: 0px 0 5px 0;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  height: 725px;

}

em {
	font-style: italic;
}

.field {
	padding-left: 5px;	
}

#notice {
	background-color: #bee9fd;
	border-radius: 5px;
	padding: 5px;
	font-style: italic;
	margin: 10px;
}

p {
	padding: 7px 0;
}

img {
	border: 2px solid #ccc;
	padding: 2px;
	margin: 5px;
	float: left;
	border-radius: 5px;
}

strong {
	font-weight: bold;
}

h1 {
	text-align: left;	
	line-height: 30px;
	font-weight: bold;
	padding-bottom: 5px;
}

h2 {
	width: 650px;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;

	
}
