/* HEADER */
#header {
	width: 950px;
	padding: 10px 5px 0px 5px;
  border-bottom: solid 1px gray;
  height: 50px;
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 237, 237)), to(rgb(214, 214, 214)));
  background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(214, 214, 214));
  background-image: -moz-linear-gradient(top, rgb(237, 237, 237), rgb(214, 214, 214));
  background-image: -o-linear-gradient(top, rgb(237, 237, 237), rgb(214, 214, 214));
  background-image: -ms-linear-gradient(top, rgb(237, 237, 237), rgb(214, 214, 214));
  background-image: linear-gradient(top, rgb(237, 237, 237), rgb(214, 214, 214));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ededed', EndColorStr='#d6d6d6');
  
 	
  a{
	  text-decoration: none;
  }
  a:hover{
  	color: gray;
  }
  a:visited {
  	color: black;
  }
}

#name {
	margin-left: 20px;
	margin-bottom: 5px;	
}

#name a{
	text-decoration: none;
	margin-bottom: 20px;
}

#menubar {
  float:right;
  margin: 5px 5px 0 0;
  font-size: 13px;
	li {
		float: left;
		padding-left: 5px;
	}
}

/* USER SHOW */

#user_show {
	alignment-baseline: central;
	td {padding: 5px 5px 5px 0px;
	}
}

/* ERRORS */

#error_explanation {
	text-align: left;
	font-size: 12px;
	background-color: #f6adad;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0 10px 0;
	line-height: 20px;
	
	h2 {
		font-weight: bold;
		font-size: 12px;
		padding-bottom: 5px;
	}
	li {
		text-decoration: none ;
		text-align: left;
		padding-left: 10px;
	}
	
}

.field_with_errors {
	padding: 2px;
	display: table;
}

/* GENERAL */
#title {
	margin: 10px;
	font-weight: bold;
}