/* Teammates lists*/



/* View Links */

#navigation_links {
	width: 660px;
	margin: 10px 10px 10px 15px;
	text-align: center;
	a {
		text-decoration: none;
		font-size: smaller;
		font-weight: bold;
		color: #3142d8;
	}
	a:hover {
		color: gray;
	}
	li {
		padding-left: 5px;
		padding-top: 5px;
		float: right;
	}
}

#view_link ul {
	padding-bottom: 2px;
}

#month_title {
	float: left;
	font-weight: bold;
	padding-left: 140px;
	padding-top: 5px;
	a {
		text-decoration: none;
		color: gray;
		padding-left: 3px;
		padding-right: 5px;
	}
}

#teammates {
	float: left;
	margin-top: 2px;
}
.view_label{
	float: left;
	margin: 0 3px 3px 0;
	padding-top: 3px;
}
.teammate_select_box {
	float: left;
}

#teammate_selector {
}

.separator {
	font-size: 12px;
}

li.separator {
	margin-top: 3px;
}

/* WORKOUT CALENDAR */

#calendar {
}

#calendar table {
  border-collapse: collapse;
  width: 660px;
/*  margin-left: 5px;*/
  margin-bottom: 20px;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #444;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: black;
  height: 110px;
  vertical-align: top;
  font-size: 14px;
  padding-left: 2px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar td p.name {
	a {
		margin: 1px ;
		font-size: 13px;
		font-weight: bold;
		text-decoration: none;
		color: black;
	}
	a:hover {
		color: gray;
	}	
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

#comment_link {
	text-align: right;
	font-weight: bold;
	margin-top: 2px;
	a {
	font-size: 10px;
	text-decoration: none;
	color: #4f7bf8;
	}
	a:hover {
		color: black;
	}
}

#calendar div.description {
	font-size: smaller;
	font-style: italic;
	a {
		text-decoration: none;
		color: #333;	
	}
	a:hover {
		color: gray;
	}
}

/* WORKOUT LIST TABLE */

#list {
	display: none;
}

#workout_table {
	float: left;
	margin-left: 15px;
}

#workouts_list {
	width: 650px;
	font-size: 12px;
/*	margin: 0px 10px 10px 0px;*/
	th {
		padding-left: 2px;
		text-align: left;
		font-weight: bold;
		line-height: 16px;
		vertical-align: bottom;
		background-color: #dddddd ;
	}
	.data_header {
		text-align: center;
	}
	tr {
		height: 20px;
	}
	tr:nth-child(odd) {
		background-color: #f8f8f8;
	}
	
	tr.today {
		background-color: #dcf1fc;
	}
}

.mins {
	font-weight: normal;
	font-style: italic;
}


#workouts_list td {
		padding: 2px 1px 3px 1px;
		border-bottom: 1px solid #aaa;
		vertical-align: bottom;
		
		.name {
			width:  100px;
		}
		.description {
			width: 225px;
		}
}

#workouts_list td a {
	text-decoration: none;
}

#workouts_list td.date {	
			width: 70px;
			font-size: 12px;
		}

#workouts_list td.data {
	width: 30px;
	text-align: center;
}

#workouts_list td.comment a {
	text-decoration: none;
	text-size:smaller;
	padding: 0px;
	font-style: italic;
}

/*#comment_btn {
	border: 1px solid;
	border-radius: 4px;
	color: black;
	cursor: pointer;
	font-size: 10px;
	&:hover, &:focus, &:active {
	  border: 1px solid darken(black, 25%);
	  color: #fff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.41);
	}
}*/

/* WORKOUT SHOW */

#workout_show {
	width: 650px;
	margin: 10px;	
	float: left;
}

.delete_workout a {
	text-decoration: none;
	color: blue;
}

.edit_workout a {
	text-decoration: none;
	color: blue;
}

/* WORKOUT FORM */

#workout_form {
	margin: 10px;
}